<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>
      I'm currently a postgraduate student at the <a class="underline-link" href="https://www.lse.ac.uk/statistics" target="_blank">London School of Economics</a> studying the MSc in Data Science.
      Before this, I spent two years as an actuarial analyst in the insurance industry, where I worked on projects ranging from
      building statistical models for risk quantification to optimising processes and conducting data analyses to support strategic decision-making.
    </p>

    <p>
      As a data scientist, I enjoy bridging the gap between data and decision-making by combining my technical expertise with a curiosity for uncovering meaningful insights.
      With vast amounts of data to explore, my goal is to interpret its story and help drive impactful decisions. 
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, you may find me playing basketball, table tennis
      or watching films.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
