<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>
      I'm currently a postgraduate student at the <a class="underline-link" href="https://www.lse.ac.uk/statistics" target="_blank">London School of Economics</a> studying the MSc in Data Science.
      Prior to this, I worked for two years in the insurance industry as an actuarial analyst.  building statistical models for risk quantification
    </p>

    <p>
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I love playing basketball, table tennis, or golf
      and .
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
