<section class="section other-projects">
  <div class="section__title">Projects</div>
  <div class="section__content">
    {% for post in site.posts%}
    <div class="project">
      <div class="project__name">
        <a href="{{ post.url | relative_url }}" class="underline-link">
          {{ post.title }}
        </a>
      </div>
      {% if post.description %}
      <p class="project__description">{{ post.description }}</p>
      {% endif %}
      {% if post.tags %}
      <div class="project__used">
        {% for tag in post.used %}
        <span class="project__used__item">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>